<div class="register">
<h2 class="register-header">Register</h2>
    <div class="register-container">
        <form class="register-form" (ngSubmit)="registerUser(customerform)" #customerform="ngForm">

            <mat-form-field>
                <input matInput placeholder="Name" ngModel name="name" #title="ngModel" required>
                <mat-error *ngIf="title.invalid">Please enter Name</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" ngModel name="email" #title="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required> 
                <mat-error *ngIf="title.invalid">Please enter valid email</mat-error>       
            </mat-form-field>           

            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" ngModel name="password" #title="ngModel" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="title.invalid">Please enter password</mat-error> 
            </mat-form-field>
              
            <button mat-raised-button color="accent" type="submit">Register</button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>

        </form>
    </div>
</div>


