<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img src="../assets/images/aspire-systems.png" class="logo" /></span>   
    <a mat-button *ngIf="this.authService.isLoggedIn()" [routerLink]="['home']">
    HOME</a>
    <a mat-button *ngIf="this.authService.isLoggedIn()" [routerLink]="['products-list']">
    PRODUCTS</a>
    <a mat-button *ngIf="this.authService.isLoggedIn()" [routerLink]="['user-profile', id]">
    PROFILE</a>
    <button *ngIf="this.authService.isLoggedIn()" type="button" class="btn btn-danger logout" 
    (click)="logout()">
    Logout</button> 
  </mat-toolbar-row>
</mat-toolbar>

<mat-container class="mat-container-content">
  <router-outlet></router-outlet>
</mat-container>
